*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 20px;
}

/* em hereda tamaño del elemento padre*/

.text-conteiner {
    font-size: 1em;
}

.text-conteiner div {
    font-size: 1.5em;
}